//color-variable-start\\--
$primary-color: #000000;
$secondary-color: #fff;
$orange-color: #F54C1E;
$darkblue-color: #031333;
$light-grey-color: #949494;
$darkgrey-color: #818181;
$secondgrey-color: #989898;
$linearblue-color: #031333B2;
$secdarkblue-color: #071440;
$seclight-grey-color: #676972;
$secwhite-color: #FDFDFD;
//color-variable-end\\--

//fontsize-variable-strat\\--
$extralarge-font: 58px;
$large-font: 48px;
$extra-medium-font: 42px;
$medium-font: 38px;
$double-extra-medium: 30px;
$small-font: 28px;
$button-fontsize: 22px;
$extrasmall-font: 20px;
$minimum-fontsize: 18px;
$extra-minimum-font: 16px;
$light-fontsize: 14px;
//fontsize-variable-end\\--

//fontweight-variable-start\\--
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
//fontweight-variable-end\\--

//line-height-variable-start\\--
$extralarge-line-height: 82px;
$large-line-height: 67px;
$extra-medium-line-height: 62px;
$medium-line-height: 53px;
$weekly-line-height: 45px;
$double-extra-line-height: 42px;
$small-line-height: 28px;
$button-line-height: 22px;
$p-line-height: 25px;
$team-line-height: 24px;
$post-line-height: 18px;
$extrasmall-line-height: 20px;
$footerp-line-height: 36px;
$footerli-line-height: 33px;
$header-btn-line-height: 14px;
//line-height-variable-end\\--


//font-family-variable-start\\--
$lato-fontfamily: Lato;
$Poppins-fontfamily: Poppins;
$Nunito-Sans-fontfamily:  Nunito Sans;
$Inter-fontfamily: Inter;
//font-family-variable-end\\--

//breakpoint-start\\--
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;
$xs: 319px;
//breakpoint-end\\--


$nagative-gutter-gap: -15px;
$gutter-gap: 15px;

$latterspace: 4px;
$pbottom: 18px;

$border-radious: 5px;
$transition: all ease 0.5s;
$display: inline-block;
$padding: 14px 17px;


